body {
    margin: 60px auto;
    background-color: cornsilk;
    position: relative;
}
.head {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 15px;
}


#title {
    font-size: 40px;
    letter-spacing: 5px;
    color: rgb(187, 182, 182);
    font-weight: lighter; 
}

#sub-title {
    font-size: 20px;
    letter-spacing: 3px;
    color: rgb(194, 189, 189);
    font-weight: lighter;
}

h3 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 25px;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(39, 38, 38);
}

.icon {
    padding: 20px;
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 10px;
    color: rgb(187, 182, 182);
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px 0px;
    padding: 0px;
    overflow: hidden;
}
.container-one,
.container-two,
.container-three, 
.container-four {
    width: 100%;
    height: 340px;
    transition: all;
    overflow: hidden;
    margin: 0px;
}
.container-one {
    background-color: rgb(231, 103, 129);
}
.container-two {
    background-color: rgb(159, 127, 192) ;
}

.container-three {
    background-color: rgb(180, 134, 74) ;

}

.container-four {
    background-color: rgb(107, 150, 110) ;
}

.box-one,
.box-two,
.box-three,
.box-four {
    transition-property: all;
    box-shadow: 1px 2px 3px black;
    border-radius: 3px;
}

.box-five,
.box-six,
.box-seven,
.box-eight,
.box-nine,
.box-ten,
.box-eleven,
.box-twelve,
.box-fifteen,
.box-sixteen,
.box-seventeen{
    transition-property: all, .7s 2.4s;
    overflow: hidden;
    border-radius: 3px;
}
button {
    background-color: rgb(31, 29, 29);  
    color: white;
    display: flex;
    overflow: hidden;

}

.box-eighteen{
    transition-property: all, .7s 2.4s;
    overflow: hidden;
}
.button-one {
    margin: 40px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    width: 170px;
    height: 90px;
    margin: 40px 20px;    
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: rgb(177, 165, 165);
    cursor: pointer;
    border: 1px solid rgb(31, 29, 29);

}

.icon-box {
    width: 191px;
    height: 148px;
    overflow: hidden;
    margin: 0px;
}
.box-eighteen {
    position: relative;
    bottom: 130px;
    border-radius: none;

}    
.icon-one {
    font-size: 50px;
}
.box-twelve {
    position:relative;
    bottom: -0px;
}



.box-icon {
    position: absolute;
}

/*-----------------------------------------------------------------------
--------------------------------------------------------------------------
                              TRANSITION BUTTON:HOVER
------------------------------------------------------------------------*/

.box-one:hover {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;   
    transform: scale(1) rotate(-3600deg);
    transition: 4s;
    line-height: 60px;
    opacity: 90%;
    background-color: rgb(231, 103, 129);
    border: 0px solid rgb(231, 103, 129);
    position: relative;
    box-shadow: none;
    width: 300px;
    height: 200px;
    margin: 0px;
}
.box-two:hover {
    border: 0px black;
    transform: scale(1.8);
    transform: translate(200px 200px);
    transition: 2s;
    background-color: rgb(231, 103, 129);
    color: cornsilk;
    opacity: 70%;
    box-shadow: none;
}
.box-three:hover {
    transform: scale(.8);
    transition: 2s;
    background-color: rgb(80, 77, 77);
    color: cornsilk;
    box-shadow: none;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 0px;
}

.box-four:hover  { 
    font-size: 26px;
    background-color:rgb(231, 103, 129) ;
    border: 1px solid white;
    color: white;
    position: relative;
    text-align: center;
    box-shadow: none;
    transition-duration: .3s;
    transition-delay: .3s;
}
.box-five:hover {
    top: -120px;
    right: -120px;
    position: relative;
}

.box-six:hover {
    transition-timing-function: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
    top:8px;
    left: 8px;
    position: relative;
    box-shadow: 6px 6px 0px rgb(71, 69, 69);
    border-bottom:1px solid black;
    border: none;
}
.box-seven:hover {
    position: relative;
    border: 2px solid rgb(119, 18, 106);
    background-color: rgb(159, 127, 192) ;
    color:rgb(119, 18, 106);
    transition: 2.3s;
    font-weight: 900;
    height: 90px;
    margin: auto 0px;
}
.box-eight:hover {
    transition: .1s, 0.1s .3s;
    background-color: white;
    border:1px solid white;
    transform: rotate(10deg, -10deg);
}

.box-eight:hover {
    background-color: white;
    border:1px solid white;
    transition: .2s, 0.2s;
    transform: rotate(10deg); 
}
.icon-box:hover .box-icon {
    transition-delay: .4s;
    transform: translateY(85px);
    transition: .7s;
}

.box-eighteen:hover {
    transition-delay: .9s;
    transform: translatex(165px);
    transition: 1.5s;
}
